# .prettierignore

# Node modules
node_modules

# Compiled TypeScript output
dist

# GitHub config
# This .github/ directory holds the yml file.
# If it gets formatted with the current Prettier configuration, that will break this GitHub Workflow.
.github