# .prettierignore

# Node modules
node_modules

# Compiled TypeScript output
dist

# Git/GitHub config
.git
.github
.gitignore

# IDE/editor config
.vscode

# Package and Prettier config
package.json
package-lock.json
tsconfig.json
.prettierrc